<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
</head>
<body>

    <h3>Post の編集</h3>

    {# フォームを送信するためのformタグ #}
    <form action="{% url 'sample_app:create_post' %}" method="post">
        
        {# セキュリティ対策のための必須タグ #}
        {% csrf_token %}
        
        {# フォームの入力欄を段落(<p>)として表示します #}
        {{ form.as_p }}
        
        {# 送信ボタン #}
        <button type="submit">送信</button>
    </form>

    <a href="{% url 'sample_app:index' %}">戻る</a>
</body>
</html>
