{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire content</title>
</head>
<body>
    チーム [3]では、[より多くの人にとって操作がしやすいVRを用いた体験型医療トレーニング] であると考えています。
    近年、COVID-19をきっかけとして「一人で練習できる」という観点からVRを用いた体験型医療教育への関心が高まってきている。
    またVRを用いた学習効果は資料を用いた学習よりも高いことも示されている。
    一方、現在VRを用いた心肺蘇生法(Cardiopulmonary Resuscitation, 以下CPRとする）に関する研究や商品はいくつか存在するが、
    高価な医療器具や人体モデルを使用するなど、価格や場所の確保に関して課題がある。
    医療教育現場においても公平かつ定量的な評価システムが必要とされている。
    医学教育における臨床実習のトレーニングに資するVRを用いた医療トレーニングシステムの検討がなされ、
    これまでAEDを組み込んだCPR訓練に関する評価が行われているが、操作性の面で課題がある。
    またCPRは一般人によっても行われる事例が多いことから、本研究では操作パネルの改良など、
    より多くの人にとって操作がしやすいシステムの作成を行う。
    この研究の社会的価値が適切か否かを客観的に把握するために、
    以下の項目のアンケート調査を行う。

    <style>
        body {
            color: #333;
            font-size: 30px;
        }
        a {
            color: orange;
        }
    </style>
</body>
</html>